# ── MINIO ─────────────────────────────────────────
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=changeme_minio
# ── CLICKHOUSE ────────────────────────────────────
CLICKHOUSE_DEFAULT_USER=default
CLICKHOUSE_DEFAULT_PASSWORD=changeme_clickhouse
# ── POSTGRES (Airflow + Superset backend) ─────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme_postgres
POSTGRES_DB=airflow
# ── AIRFLOW ───────────────────────────────────────
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme_airflow
AIRFLOW_FERNET_KEY=changeme_generate_with_python
# ── KEYCLOAK ──────────────────────────────────────
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme_keycloak
KEYCLOAK_DB_PASSWORD=changeme_keycloak_db
# ── VAULT ─────────────────────────────────────────
VAULT_DEV_ROOT_TOKEN_ID=root
# ── SUPERSET ──────────────────────────────────────
SUPERSET_SECRET_KEY=changeme_superset_key
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=changeme_superset
# ── REDIS ─────────────────────────────────────────
REDIS_PASSWORD=changeme_redis
